<!DOCTYPE html>
<html>
<head>
    <title>Home Lock</title>
    <link href="/static/css/index.css" rel="stylesheet">
</head>
<body>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='index.js') }}"></script>

    <div id="door-lock">
        <img id="door-lock-img" src="static/lock.png" width="200" height="200">
        <img id="door-unlock-img" src="static/unlock.png" width="200" height="200">
    </div>

</body>
</html>